<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>در خواست ها</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body style="background-image: url(https://img.freepik.com/free-vector/green-monstera-leaves-with-copy-space-vector_53876-111532.jpg?w=1380&t=st=1681645503~exp=1681646103~hmac=d792a0cc47c639d998c68eaa0206f95ad9500e46aa878b1e29bbd2d4b5fc4f0a);background-size:110% ">
<div th:insert="fragments/header :: header"></div>
<div class="container-fluid">
  <div class="card">
    <div class="ui-icon">
      <div th:switch="${leaveRequest}" class="container-fluid">
        <p class="ui-icon">
        <form th:action="@{/employee/leaveRequest/search}" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name= "keyword" id = "keyword" type="text" placeholder="Search" aria-label="Search" th:value="${keyword}">
          <input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search" />
          <i class="fa fa-download">  Export Excel </i></a>
        </form>
        </p>
        <div class="container-fluid">

          <div class="table-responsive-xl">
            <table class="table">
              <thead style="background-color:#36454F; color: aliceblue;">
              <tr>
                <th>نام </th>
                <th>نام خانوادگی</th>
                <th>کدپرسنلی</th>
                <th> روز </th>
                <th>از تاریخ</th>
                <th>تا تاریخ</th>
                <th> ساعت </th>
                <th> تاریخ </th>
                <th> ساعت شروع</th>
                <th>  ساعت پایان</th>
                <th >توضیحات</th>
                <th>نتیجه</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="leaveRequest: ${leaveRequestList}">
                <td th:text="${leaveRequest.getUser().getFirstName()}"></td>
                <td th:text="${leaveRequest.getUser().getLastName()}"></td>
                <td th:text="${leaveRequest.getUser().getPersonnelCode()}"></td>
                <td th:text="${leaveRequest.getNumberOfDays()}"></td>
                <td th:text="${leaveRequest.getStartDate()}"></td>
                <td th:text="${leaveRequest.getEndDate()}"></td>
                <td th:text="${leaveRequest.getNumberOfHours()}"></td>
                <td th:text="${leaveRequest.getHourlyLeaveDate()}"></td>
                <td th:text="${leaveRequest.getStartTime()}"></td>
                <td th:text="${leaveRequest.getEndTime()}"></td>
                <td th:text="${leaveRequest.getDescription()}"></td>
                <td th:text="${leaveRequest.getRequestStatus()}"></td>
              </tr>
              </tbody>
            </table>
          </div>
            <div th:if="${totalPages > 1}">
              Total Items: [[${totalItems}]]

              <a  class="btn btn-light" th:if="${currentPage > 1}" th:href="@{'/LeaveRequest/page/' + ${currentPage - 1}}"><img src="https://cdn-icons-png.flaticon.com/512/318/318477.png" width="25" height="25"></a>
              <span class="btn btn-light" th:unless="${currentPage > 1}"></span>



              <!--              <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--			<a class="btn btn-outline-primary" th:if="${currentPage != i}" th:href="@{'/LeaveRequest/page/' + ${i} }">[[${i}]]</a>-->
<!--			<span  class="btn btn-outline-primary" th:unless="${currentPage != i}">[[${i}]]</span>-->
<!--		</span>-->

              <a class="btn btn-light" th:if="${currentPage < totalPages}" th:href="@{'/LeaveRequest/page/' + ${currentPage + 1} }"><img src="https://cdn-icons-png.flaticon.com/512/181/181669.png" width="25" height="25"></a>
              <span class="btn btn-light" th:unless="${currentPage < totalPages}"></span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>

</html>