<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body style="background-image: url(https://www.uplooder.net/img/image/23/7731963484eac95b6f7e970aa360d70a/360.jpg);background-size:110% ">
<div th:insert="fragments/manager-header :: header"></div>

<div class="container my-2">
    <div class="ui-icon">
        <div class="ui-icon">

            <p class="ui-icon">
            <form class="form-inline my-2 my-lg-0">
                <a> </a>
                <a> </a>
                <a> </a>
                <a> </a>
                <a> </a>
                <a> </a>
                <a> </a>
                <a></a>
                <a></a>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <form>
                </form>
            </form>

            <form class="ui-icon">
                <a style="font-size:25px ;color  :  black ;" class="nav-link" href="/manager/leaveRequest/inProgress">درخواست های باز<img
                        src="https://icons.veryicon.com/png/o/business/wd-light-blue/wd-applet-business-process.png" width="100"
                        height="100"></a>

                <a style="font-size:25px ;color  :  black ;" class="nav-link" href="/manager/leaveRequest/accept">درخواست های تایید شده  <img
                        src="https://cdn.icon-icons.com/icons2/1918/PNG/512/iconfinder-document03-1622833_121957.png"
                        width="120" height="115"></a>

                <a style="font-size:25px ;color  :  black ;" class="nav-link" href="/manager/leaveRequest/reject">درخواست های رد شده  <img
                        src="https://cdn-icons-png.flaticon.com/512/1838/1838299.png" width="100"
                        height="100"></a>

                <a style="font-size:25px ;color  :  black ;" class="nav-link" href="/users">لیست کارمندان <img
                        src="https://cdn-icons-png.flaticon.com/512/3565/3565956.png" width="125"
                        height="125"></a>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>



